{% macro paginate(obj) %}
    <!-- Pagination Links-->
{% if obj.pages != 1 %}


                    <div class="text-right mt-4">
                        <a href="{{ url_for('main.index', page=obj.prev_num) }}"
                            class="btn btn-outline-light
                            {% if obj.page == 1 %}disabled{% endif %}">
                            &laquo;
                            </a><!-- Loop through the number of pages to display a link for each-->
                            {% for page_num in obj.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}{% if page_num %}
                                <!-- Check for the active page and set the link to "Active"-->
                                {% if obj.page == page_num %}
                                    <a href="{{ url_for('main.index', page=page_num) }}"
                                        class="btn btn-light">
                                        {{ page_num }}
                                    </a>
                                {% else %}
                                    <a href="{{ url_for('main.index', page=page_num) }}"
                                        class="btn btn-outline-light">
                                        {{ page_num }}
                                    </a>
                                {% endif %}
                            {% else %}
                                ...
                            {% endif %}
                        {% endfor %}    <a href="{{ url_for('main.index', page=obj.next_num) }}"
                        class="btn btn-outline-light
                        {% if obj.page == obj.pages %}disabled{% endif %}">
                        &raquo;
                    </a>
                </div>
                <p class="text-right mt-3">
                    Showing page {{ obj.page }} of {{ obj.pages }}
                </p>

{% endif %}
{% endmacro %}