{% extends 'base.html' %}
{% block title %}
    405 - Method Not Allowed | Blog
{% endblock %}
{% block content %}
    <div class="w3-container" style="padding: 0px 0px 0px 0px;">
        <h2 style="font-size: 30px;">Sorry!</h2>
        <h1 style="font-weight:bold; font-size: 36px;">The method requested is not supported by this resource!</h1>
        <p style="font-size: 16px; opacity: 0.7">Please check that you use correct method.<br>Or go to our <a href="{{ url_for('main.index') }}">home page</a>, and use the menus to navigate to a specific section.</p>
    </div>
{% endblock %}