{% extends 'base.html' %}

{% from "macros/_form_macros.html" import render_field_with_errors, render_field %}

{% block content %}
    <div class="text-center d-flex justify-content-center">
    <main class="form-signin width-300px">
        <h1>{{ _('Resend confirmation instructions') }}</h1>
  <form action="{{ url_for_security('send_confirmation_form') }}" method="post" name="reset_password_form">
      {{ reset_password_form.hidden_tag() }}
    <h1 class="h3 mb-3 fw-normal">Send confirmation</h1>
        {{ render_field_with_errors(reset_password_form.password, check=reset_password_form.errors) }}
        {{ render_field_with_errors(reset_password_form.password_confirm, check=reset_password_form.errors) }}
    <button class="w-100 btn btn-lg btn-primary" type="submit">Send</button>
  </form>
</main>
    </div>
{% endblock %}
