{% from "macros/_form_macros.html" import render_field_with_errors, render_field %}
<div class="text-center width-300px">
    <main class="form-signin width-300px">
        <form action="{{ url_for('auth.change_password_check') }}" method="post" class="check-password-form modal-form">
            {{ form.csrf_token }}
            <h1 class="h3 mb-3 fw-normal text-light">Input your previous password</h1>
            {{ render_field_with_errors(form.password, check=form.errors) }}
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </main>
</div>