{% from "macros/_form_macros.html" import render_field_with_errors, render_field %}
<div class="text-center width-300px m-auto">
    <main class="form-signin width-300px">
        <form action="{{ url_for('auth.change_email') }}" method="post" class="change-password-form modal-form">
            {{ form.csrf_token }}
            <h4 class="mb-3 fw-normal text-light">Input your new Email</h4>
            {{ render_field_with_errors(form.email, check=form.errors) }}
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </main>
</div>